<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolívia</title>
</head>
<style>
img {
    max-width:800px;
    max-height:200px;
    width: auto;
    height: auto;
}

body {
    text-align: center;
}
</style>
<body>
    <h1>Bolívia</h1>
    &nbsp;Bolívia é um país de colonização espanhola localizado na América do Sul. Possui uma geografia bastante diversa marcada pela cordilheira dos Andes e pelo lago Titicaca.
    <br>
    <h3>Cultura</h3>
    &nbsp;A cultura boliviana mescla hábitos das populações tradicionais indígenas e dos colonizadores espanhóis. A diversidade linguística, por exemplo, é uma marca desse cenário. No mesmo sentido, destaca-se as contribuições desses povos para a arquitetura, a música e a alimentação. O sincretismo religioso também é uma marca do povo boliviano. O país é reconhecido pelo artesanato em argila e lã. Já na culinária, destaca-se o consumo de milho e batata, além da folha de coca. O esporte mais praticado da Bolívia é o futebol.
    <br>

    <h3>Curiosidades sobre a Bolívia</h3>
    ✦ O Titicaca, entre a Bolívia e o Peru, é considerado o lago navegável mais alto do mundo.<br>

    ✦ A coca é uma planta muito comum da Bolívia; é utilizada para combater o soroche, considerado o mal da altitude.<br>

    ✦ A Bolívia conta, além do espanhol, com diversas outras línguas indígenas, faladas por populações tradicionais do país, como quéchua, aymara e guaraní.<br>

    ✦ As cholitas são as mulheres indígenas bolivianas que utilizam roupas típicas rodadas e cabelos de duas tranças.<br>

    ✦ O maior deserto de sal do mundo, chamado de Uyuni, está localizado na Bolívia; |é o principal ponto turístico do país.<br>

    ✦A Bolívia já teve acesso para o oceano Pacífico, porém, devido a conflitos com países vizinhos, ela perdeu o seu litoral. <br>

</body>
</html>