<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    img {
        max-width:800px;
        max-height:200px;
        width: auto;
        height: auto;
    }
    
    body {
        text-align: center;
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }
    
    </style>
<body>
    <h1>Coréia do Sul</h1>

    &nbsp;A cultura coreana recebeu grande influência da guerra. No passado existia uma única Coréia, atualmente está dividida por uma guerra ocorrida no ano de 1948,  a partir do estabelecimento da República Popular Democrática da Coréia, de orientação Socialista, e da República da Coréia, notadamente capitalista. <br>

    Mas voltando ao assunto da cultura coreana, podemos citar o Taekwondo.<br>

    &nbsp;O taekwondo é um patrimônio das artes marciais na Coreia do Sul, pois foi desenvolvido como esporte de combate dos militares. A luta é marcada pelo uso das pernas para aplicar golpes rápidos e grande destreza nas mãos e punhos, com foco em autodefesa.
    Hoje, a luta possui grande status em competições globais como os Jogos Olímpicos e possui milhares de praticantes.
    &nbsp;Agora em quesito culinária a Coreia tem bastante repercussão. Veja a seguir, algumas especialidades gastronômicas de origem coreana:

<h3>Kimchi</h3>
&nbsp;O kimchi é um verdadeiro símbolo da cultura sul-coreana e também seu prato típico mais famoso.
    Na realidade, não se trata de um prato, e sim uma preparação baseada na fermentação de vegetais (geralmente a acelga).
    No preparo, são adicionados temperos como alho, gengibre, pimenta e rabanete em uma salmoura, permitindo mais de 100 variações do kimchi. Além disso, o kimchi é consumido em praticamente todas as refeições do dia, por isso é considerado uma base da comida sul-coreana.

<h3>Bibimbap</h3>
&nbsp;O Bibimbap é quase um PF (prato feito) sul-coreano, pois consiste em uma mistura de arroz e vegetais com acréscimo de ovos e carne.
    Na hora de comer, todos os ingredientes devem ser misturados em uma tigela de pedra aquecida.



<h3>Bingsu</h3>
&nbsp;O Bingsu é uma sobremesa sul-coreana muito semelhante ao sorvete de raspadinha, com coberturas de frutas, nozes, chocolate e chá verde.
    O quitute é servido após o jantar e harmoniza perfeitamente com os sabores picantes da comida sul-coreana.

</body>
</html>