<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Japao</title>
</head>
<style>
    img {
        max-width:800px;
        max-height:200px;
        width: auto;
        height: auto;
    }
    
    body {
        text-align: center;
    }
    </style>
<body>
    <h1>Japão</h1>
Hoje a cultura dos japoneses é reconhecida como referência na gastronomia, arte, cultura pop e entretenimento, entre outros. Mangás e animes conquistam os jovens, cada vez mais interessados em conhecer a terra do sol nascente, e as artes marciais há tempos estão espalhadas por todo o planeta.

alguns animes japoneses que ficaram famosos pelo mundo são:

<h3>Attack on Titan</h3>
Escrito e ilustrado por Hajime Isayama, Attack on Titan começou a ser publicado em 2009 pela Kodansha e encontrou seu fim em abril de 2021, totalizando 34 volumes em seu mangá. Atualmente o anime encontra-se em sua temporada final , tendo sido primeiramente exibido em 2013.

Na trama acompanhamos Eren Yeager, um rapaz que sonha em conhecer o mundo fora das muralhas que cercam o povoado onde vive, uma vez que o mundo lá fora é cheio de ameaçadores titãs comedores de gente e os habitantes do local são proibidos de sair dos limites dos muros. Toda sua vida pacata é abalada quando um titã gigante quebra uma das muralhas e comanda uma invasão ao local que culmina na morte da mãe do garoto e o faz jurar que um dia iria eliminar todos os titãs da face da terra, decidindo assim que iria entrar para a frente de combate contra esses monstros.

<h3>Sailor Moon</h3>
Um dos shoujos (animes voltados para o público feminino) mais conhecidos de todos os tempos, Sailor Moon é fruto do trabalho da mangaká Naoko Takeuchi e seu mangá viu a luz do dia pela primeira vez em 28 de dezembro de 1991, chegando ao fim em 03 de fevereiro de 1997.

O anime esteve em exibição entre 1992 e 1997 contando com diversas temporadas divididas em cinco fases: Pretty Guardian Sailor Moon, Pretty Guardian Sailor Moon R, Pretty Guardian Sailor Moon S, Pretty Guardian Sailor Moon SuperS e Pretty Guardian Sailor Moon Stars. Um remake da obra, intitulado Pretty Guardian Sailor Moon Crystal e sendo mais próximo do mangá, foi produzido em 2014, contando com duas temporadas, tendo sido a segunda exibida em 2016.

A história conta a saga vivida por Usagi Tsukino, uma garota colegial que tem sua vida virada do avesso ao encontrar uma gatinha falante chamada Luna na rua enquanto ia para a escola. Essa gata lhe diz que ela deverá se tornar uma guerreira mágica e proteger a terra de forças malignas que estão à espreita.

<h3>Death Note</h3>
Sucesso absoluto nos últimos 20 anos, Death Note é, originalmente, uma série em mangá escrita por Tsugumi Ohba e ilustrada por Takeshi Obata. Tendo sua primeira publicação em 2003, chegando ao fim em 2006, a história contando com 12 volumes compilados dos capítulos publicados na revista japonesa Weekly Shounen Jump.

A trama de Death Note gira em torno de Light Yagami, um adolescente totalmente entediado com o mundo a sua volta que encontra um caderno no pátio de sua escola. Ao abri-lo, encontra uma série de instruções de como usá-lo e que a finalidade do tal caderno seria a morte de todo aquele que 


</body>
</html>